<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form action="/login" method="POST">

    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form>

<button id="btn">Show users!</button>
<div id="container"></div>


<a href="/auth/google">Login with your google account</a>
<br>
<a href="/auth/strava">Login with your Strava account</a>